*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    margin: 0 20px;
}
.nav-list li a{
    color: #ffffff;
    text-decoration: none;
    text-align: right;
}
.nav-list li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 50px;
    transition: 0.2s;
}
.nav-list li:hover::after{
    width: 100%;
}
.btn{
    width: 200px;
    margin: 20px 10px;
    border: 2px solid #009688;
    padding: 15px 0;
    border-radius: 25px;
    background: transparent;
    cursor: pointer;
    color: white;
    font-weight: bold;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-left: 41%;
    display: inline-block;
    
}  
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    color: #fff;
}
.btn:hover span{
    width: 100%;
    color: #fff;
}
.btn:hover{
    border: none;
    background: #009688;
    transition: 0.5s;
}
.logo{
    width: 100%;
    height: 50%;
    border: 10px grey;
    border-radius: 50%;
    padding-left: 1%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
    color: #fff;
    display: inline-block;
}
.background{
    background: rgba(0, 0, 0, 0.7) url(https://images.pexels.com/photos/251225/pexels-photo-251225.jpeg?auto=compress&cs=tinysrgb&w=300);
    background-size: cover;
    background-blend-mode: darken;
}
p1{
    font-size: 37px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    align-items: center;
    padding-left: 0%;
    font-weight: bold;
    margin-top: 100px;
}
p2{
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    align-items: center;
    padding-left: 0%;
    letter-spacing: 1px;
}
.SectionTag{
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;
    align-items: center;
    padding-left: 0%;
    font-weight: bold;
}
p4{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    align-items: center;
    padding-left: 0%;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    height: 80%;
}
.firstsection{
    height: 100vh;

}
.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnsm{
    padding: 6px 10px;
    vertical-align: middle;

}
.secright{
    height: 570px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    display: flex;
}
.cards{
    width: 20%;
    display: inline-block;
    background-color: none;
    border: 2px solid black;
    border-radius: 6px;
    margin: 40px;
    cursor: pointer;
    margin-left: 110px;
}
.cards:hover{
    box-shadow: 2px 2px 10px black;
}
.image img{
    width: 100%;

}
.title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.des{
    text-align: center;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
}
.aa{
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 6px 16px;
}
p8{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    align-items: center;
    margin-left: 37%;
}
p8:hover{
    text-shadow: 2px 2px 10px black;
}
.aaimg{
    width: 280px;
    border: 2px solid black;
    border-radius: 8px;
}
.btnn{
    margin: 7px 2px;
    border: 2px solid black;
    padding: 8px 20px;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 30px;
}
.btnn:hover{
    background-color: #333;
    color: #fff;
    transition: 0.5s;
}
.ad{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.contact{
    background-color: #ede6e6;
    height: 533px;
}
.h2{
    text-align: center;
    padding: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.form{
    max-width: 400px;
    margin-left: 20%;
    margin-top: 42px;

}
#name{
    margin: 14px 0;
    padding: 5px 3px;
    width: 200%;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 6px;
    text-align: center;
}
.btnnn{
    margin: 2px 7px;
    border: 2px solid white;
    padding: 8px 20px;
    border-radius: 25px;
    background: transparent;
    cursor: pointer;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0.0001%;
    margin-bottom: 6px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}
.btnnn:hover{
    background-color: white;
    color: #003;
    transition: 0.5s;
    border: 2px solid #009688;
}
.Show{
    margin: 7px 2px;
    border: 2px solid black;
    padding: 8px 20px;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 44%;
    margin-bottom: 30px;
}
.Show:hover{
    background-color: #333;
    color: #fff;
    transition: 0.5s;
}
.auto-input{
    color: white;
    text-align: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}
svg{
    width: 10px;
    height: 10px;
}
.hh{
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.owner{
    background: rgb(237 227 227);
}
.videos{
    margin-left: 40px;
    margin-top: 30px;
}
.iframe{
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    margin-top: 30px;
}
.iframe:hover{
    box-shadow: 2px 2px 10px black;
}
.head{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
    .butn{
        width: 200px;
        margin: 20px 10px;
        border: 2px solid #009688;
        padding: 15px 0;
        border-radius: 25px;
        background: transparent;
        cursor: pointer;
        color: black;
        font-weight: bold;
        align-items: center;
        text-align: center;
        position: relative;
        overflow: hidden;
        margin-left: 01%;
        display: inline-block;
        
    }  
    span{
        background: #009688;
        height: 100%;
        width: 0;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5s;
        color: #fff;
    }
    .butn:hover span{
        width: 100%;
        color: #fff;
    }
    .butn:hover{
        border: none;
        background: #009688;
        transition: 0.5s;
}
.butnn{
    width: 200px;
    margin: 20px 10px;
    border: 2px solid #009688;
    padding: 15px 0;
    border-radius: 25px;
    background: transparent;
    cursor: pointer;
    color: black;
    font-weight: bold;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-left: 41%;
    display: inline-block;
    
}  
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    color: #fff;
}
.butnn:hover span{
    width: 100%;
    color: #fff;
}
.butnn:hover{
    border: none;
    background: #009688;
    transition: 0.5s;
}
